name: Lighthouse CI

on:
  schedule:
    - cron: '0 10 * * 1'
  workflow_dispatch:

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://datageoparana.github.io/
          budgetPath: .github/lighthouse-budget.json
          uploadArtifacts: true
